button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
  background-color: #0071bc;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.85em 1.7em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover,
button:focus,
[type="button"]:hover,
[type="button"]:focus,
[type="reset"]:hover,
[type="reset"]:focus,
[type="submit"]:hover,
[type="submit"]:focus {
  background-color: #005a96;
  color: #fff;
}
button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button:disabled:hover,
[type="button"]:disabled:hover,
[type="reset"]:disabled:hover,
[type="submit"]:disabled:hover {
  background-color: #0071bc;
}
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  font-weight: 600;
  margin-bottom: 0.425em;
  padding: 0;
}
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.425em;
}
input,
select {
  display: block;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
}
[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #aeb0b5;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.85em;
  padding: 0.5666666667em;
  transition: border-color 150ms ease;
  width: 100%;
}
[type="color"]:hover,
[type="date"]:hover,
[type="datetime"]:hover,
[type="datetime-local"]:hover,
[type="email"]:hover,
[type="month"]:hover,
[type="number"]:hover,
[type="password"]:hover,
[type="search"]:hover,
[type="tel"]:hover,
[type="text"]:hover,
[type="time"]:hover,
[type="url"]:hover,
[type="week"]:hover,
input:not([type]):hover,
textarea:hover,
select[multiple]:hover {
  border-color: #8b8d91;
}
[type="color"]:focus,
[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select[multiple]:focus {
  border-color: #0071bc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 98, 163, 0.7);
  outline: none;
}
[type="color"]:disabled,
[type="date"]:disabled,
[type="datetime"]:disabled,
[type="datetime-local"]:disabled,
[type="email"]:disabled,
[type="month"]:disabled,
[type="number"]:disabled,
[type="password"]:disabled,
[type="search"]:disabled,
[type="tel"]:disabled,
[type="text"]:disabled,
[type="time"]:disabled,
[type="url"]:disabled,
[type="week"]:disabled,
input:not([type]):disabled,
textarea:disabled,
select[multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
[type="color"]:disabled:hover,
[type="date"]:disabled:hover,
[type="datetime"]:disabled:hover,
[type="datetime-local"]:disabled:hover,
[type="email"]:disabled:hover,
[type="month"]:disabled:hover,
[type="number"]:disabled:hover,
[type="password"]:disabled:hover,
[type="search"]:disabled:hover,
[type="tel"]:disabled:hover,
[type="text"]:disabled:hover,
[type="time"]:disabled:hover,
[type="url"]:disabled:hover,
[type="week"]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #aeb0b5;
}
textarea {
  resize: vertical;
}
[type="search"] {
  appearance: none;
}
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.425em;
}
[type="file"] {
  margin-bottom: 0.85em;
  width: 100%;
}
select {
  margin-bottom: 1.7em;
  max-width: 100%;
  width: auto;
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: disc;
  padding-left: 2em;
  margin-bottom: 20px;
}
dl {
  margin-bottom: 0.85em;
}
dl dt {
  font-weight: 600;
  margin-top: 0.85em;
}
dl dd {
  margin: 0;
}
table {
  border-collapse: collapse;
  margin: 0.85em 0;
  table-layout: fixed;
  width: 100%;
}
th {
  border-bottom: 1px solid #838488;
  font-weight: 600;
  padding: 0.85em 0;
  text-align: left;
}
td {
  border-bottom: 1px solid #aeb0b5;
  padding: 0.85em 0;
}
tr,
td,
th {
  vertical-align: middle;
}
.mono {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}
body {
  color: #323a45;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
  font-weight: 400;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: avenir, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  line-height: 1.3em;
  margin: 0 0 0.85em;
}
h1 {
  font-size: 44px;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
p {
  margin: 0 0 0.85em;
}
a {
  color: #0071bc;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  color: #00558d;
}
hr {
  border-bottom: 1px solid #aeb0b5;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.7em 0;
}
img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto;
}
#main {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}
#main::after {
  clear: both;
  content: "";
  display: block;
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  #main {
    margin: 1em;
  }
}
@media screen and (min-width: 570px) and (max-width: 1112px) {
  #main {
    margin: 1em;
  }
}
.large-column {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
}
.small-column {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px;
}
h1.title {
  text-align: center;
  margin-bottom: 20px;
  color: #212121;
}
h2 {
  margin-top: 2.5rem;
  padding-bottom: 0.4rem;
  border-bottom: 4px solid #dce4ef;
}
.meta {
  text-align: center;
  font-family: avenir, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding-bottom: 60px;
  color: #323a45;
}
.meta-tags {
  margin-top: 10px;
  font-size: 1em;
  padding: 0;
}
.meta-tags li {
  display: inline-block;
  padding: 0;
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  .meta-tags li {
    margin-bottom: 10px;
  }
}
.meta-tags a {
  background: #f7f7f7;
  padding: 0.3rem;
  border-radius: 0.1875em;
  border: 1px solid #aeb0b5;
  color: #494440;
  margin: 0.2rem;
}
.tag {
  font-size: 1rem;
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  .tag {
    font-size: 1.2rem;
  }
}
article p {
  margin-bottom: 20px;
}
article > ul {
  padding-left: 2em;
  list-style-type: disc;
  margin-bottom: 20px;
}
article > ul ul {
  list-style-type: circle;
  padding-left: 2em;
}
p > a {
  text-decoration: underline;
}
blockquote {
  font-style: italic;
  position: relative;
  border-left: 4px solid #aeb0b5;
  margin: 0;
  padding-left: 1.5em;
}
article > ol {
  list-style-type: decimal;
  padding-left: 3em;
  margin-bottom: 20px;
}
article > ol ol {
  list-style-type: lower-alpha;
  margin-bottom: 0px;
}
article > ol ol ol {
  list-style-type: lower-roman;
  margin-bottom: 0px;
}
article > form {
  margin: 30px 0 30px 0;
}
.footnotes ol {
  list-style-type: decimal;
  padding-left: 1rem;
}
.footnotes {
  font-size: 1rem;
}
.footnotes code {
  font-size: 0.9rem;
}
.article-item {
  border-bottom: 1px dotted #323a45;
}
.article-item a {
  display: block;
  padding-top: 20px;
  color: #494440;
}
.article-item a:hover {
  color: #212121;
}
.article-date {
  display: inline-block;
  color: #aeb0b5;
  font-weight: 300;
}
.article-date:before {
  content: "/ ";
}
.pagination {
  margin-top: 60px;
  font-family: avenir, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.pagination a {
  background: #0071bc;
  color: #ffffff;
  padding: 10px;
}
.pagination a:hover {
  background: #323a45;
}
.older {
  float: right;
}
.newer {
  float: left;
}
.guides > ul {
  padding-left: 1em;
  list-style-type: disc;
  margin-bottom: 20px;
}
.navbar {
  display: flex;
  align-items: center;
}
.main-navigation {
  flex: 1 1 auto;
  text-align: right;
  position: relative;
}
.nav {
  list-style: none;
}
.main-navigation a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}
.main-navigation label,
#hamburger {
  display: none;
}
.main-navigation .nav li {
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  .nav li:last-child {
    display: none;
  }
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  .main-navigation label {
    display: inline-block;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }
  .main-navigation input:checked ~ .nav {
    display: block;
  }
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  .nav {
    display: none;
  }
}
body nav {
  font-family: avenir, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid #dce4ef;
  display: inline-block;
}
body nav a,
body nav a:visited,
body nav a:hover {
  color: #494440;
}
body nav ul {
  float: right;
  margin-right: 5em;
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  body nav ul {
    padding-bottom: 1em;
    float: none;
    text-align: center;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
}
body nav li:not(:first-of-type) {
  margin-left: 1.2rem;
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  body nav {
    padding: 0.75em 0 0 0;
    text-align: center;
  }
}
.title {
  display: flex;
  flex-direction: column;
}
.tagline {
  letter-spacing: 3px;
  padding-left: 4rem;
  text-align: center;
}
.tagline > span.highlight-red {
  color: red;
}
.blog-title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  float: left;
  padding-left: 4rem;
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  .blog-title {
    float: none;
    font-size: 1.3rem;
    padding-left: 15px;
  }
}
.blog-title a:link,
.blog-title a:visited {
  color: #494440;
}
.nav-item a {
  color: #494440;
  font-size: 1.3rem;
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  .nav-item a {
    font-size: 1.2rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
}
.nav-highlight a {
  background: #0071bc;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 0.1875em;
}
.nav-highlight a:visited {
  color: #ffffff;
}
.nav-highlight a:hover {
  background: #0061bc;
  color: #ffffff;
}
.intro {
  font-size: 1.4em;
  font-family: avenir, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  margin-bottom: 3rem;
  border: 1px solid #dce4ef;
  background: #d9e8f6;
  padding: 1rem;
  line-height: 1.5;
}
.intro select {
  -webkit-appearance: none;
  border: 0;
  background: #d9e8f6;
  font-size: 1em;
  color: #323a45;
  border-bottom: dotted;
  margin-bottom: 0;
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  .intro {
    font-size: 1.1rem;
    padding: 1rem;
  }
}
.intro p {
  margin: 20;
}
.description {
  font-size: 1.2rem;
}
body footer {
  border-top: 1px solid #aeb0b5;
  padding: 1em 0 1em 0;
  width: 100%;
  background-color: #205493;
  color: #ffffff;
  text-align: center;
  margin-top: 60px;
}
article footer {
  padding-bottom: 15px;
  margin-top: 30px;
}
.signup-form {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 30px;
}
@media screen and (min-width: 310px) and (max-width: 480px) {
  .signup-form {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 570px) and (max-width: 1112px) {
  .signup-form {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.social {
  margin-top: 20px;
}
.social ul {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0;
}
.social li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0;
}
.social a {
  color: #ffffff;
}
.copyright {
  font-size: 1em;
  font-family: avenir, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-top: 30px;
}
.formkit-header h2 {
  margin-top: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}
.highlight table td {
  padding: 5px;
}
.highlight table pre {
  margin: 0;
}
.highlight {
  color: #faf6e4;
  background-color: #122b3b;
}
.highlight .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .gp {
  color: #a8e1fe;
  font-weight: bold;
}
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
  color: #6c8b9f;
  font-style: italic;
}
.highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .err {
  color: #fefeec;
}
.highlight .gr {
  color: #cc0000;
  font-weight: bold;
  font-style: italic;
}
.highlight .k,
.highlight .kd,
.highlight .kv {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .o,
.highlight .ow {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .p,
.highlight .pi {
  color: #4df4ff;
}
.highlight .gd {
  color: #cc0000;
}
.highlight .gi {
  color: #b2fd6d;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .kc {
  color: #f696db;
  font-weight: bold;
}
.highlight .kn {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kp {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kr {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gh {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gu {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kt {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .no {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nc {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nd {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nn {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .bp {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .ne {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nl {
  color: #ffb000;
  font-weight: bold;
}
.highlight .nt {
  color: #ffb000;
  font-weight: bold;
}
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
  color: #f696db;
  font-weight: bold;
}
.highlight .ld {
  color: #f696db;
  font-weight: bold;
}
.highlight .ss {
  color: #f696db;
  font-weight: bold;
}
.highlight .s,
.highlight .sb,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .sr,
.highlight .s1 {
  color: #fff0a6;
  font-weight: bold;
}
.highlight .sa {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .se {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .sc {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .si {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .nb {
  font-weight: bold;
}
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .go {
  color: #bbbbbb;
}
.highlight .nf,
.highlight .fm {
  color: #a8e1fe;
}
.highlight .py {
  color: #a8e1fe;
}
.highlight .na {
  color: #a8e1fe;
}
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: #a8e1fe;
  font-weight: bold;
}
.highlight {
  margin: 1.7rem 0 1.7rem;
}
pre {
  padding: 1rem 1rem;
  line-height: 1.7rem;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
  font-size: 1rem;
}
code {
  font-family: Menlo, ui-monospace, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
}
p code,
td code {
  color: #323a45;
  background: #f7f7f7;
  padding: 3px;
  border-radius: 0.1875em;
  border: 1px solid #aeb0b5;
  font-size: 1rem;
  word-wrap: break-word;
} /*!
 * Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-github:before {
  content: "\f09b";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-twitter:before {
  content: "\f099";
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
} /*!
 * Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-brands-400.eot");
  src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"),
    url("../webfonts/fa-brands-400.ttf") format("truetype"),
    url("../webfonts/fa-brands-400.svg#fontawesome") format("svg");
}
.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
} /*!
 * Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"),
    url("../webfonts/fa-solid-900.ttf") format("truetype"),
    url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}
.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
